-i https://pypi.org/simple
appnope==0.1.0 ; sys_platform == 'darwin'
backcall==0.1.0
decorator==4.4.0
ipython-genutils==0.2.0
ipython==7.5.0
jedi==0.13.3
parso==0.4.0
pexpect==4.7.0 ; sys_platform != 'win32'
pickleshare==0.7.5
prompt-toolkit==2.0.9
ptyprocess==0.6.0
py4j==0.10.7
pygments==2.7.4
pyspark-stubs==2.4.0.post1
pyspark==2.4.3
six==1.12.0
traitlets==4.3.2
wcwidth==0.1.7
